@page
@model IES9012.UI.Pages.Estudiantes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Estudiantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Estudiantes.EstudianteId" />
            <div class="form-group">
                <label asp-for="Estudiantes.Nombre" class="control-label"></label>
                <input asp-for="Estudiantes.Nombre" class="form-control" />
                <span asp-validation-for="Estudiantes.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiantes.Apellido" class="control-label"></label>
                <input asp-for="Estudiantes.Apellido" class="form-control" />
                <span asp-validation-for="Estudiantes.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiantes.FechaInscripcion" class="control-label"></label>
                <input asp-for="Estudiantes.FechaInscripcion" class="form-control" />
                <span asp-validation-for="Estudiantes.FechaInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
